* {
    box-sizing: border-box;
    font-family: 'Josefin Slab', serif;
  }

h1 , h2 {
    
    text-align: center;
}

section {
    border-style: solid;
    border-width: 3px;
    margin: 50px;
    padding: 50px;
}